{% extends 'admin/users/_layout.html.twig' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Users list</h1>
        <a href="{{ path('app_user_register') }}" class="btn btn-primary">Add an user</a>

        <div class="row mt-4">
            {% for user in users %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>
                                <a href="{{ path('app_user_show', { 'id':user.id})}}">{{ user.lastname }}</a>
                            </h2>
                            <p>{{user.firstname}}</p>
                            <p>{{ user.email }}</p>
                            {% for roles in user.roles %}
                            <p>{{ roles}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
