{% extends 'admin/users/_layout.html.twig' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Users list</h1>
        <a href="{{ path('app_user_register') }}" class="btn btn-primary">Add an user</a>

        <div class="row mt-4">
            {% for user in users %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>
                                <a href="{{ path('app_user_show', { 'id':user.id})}}">Id: {{ user.id}}</a>
                            </h2>
                            <p>Lastname: {{ user.lastname }}</p>
                            <p>Firstname: {{user.firstname}}</p>
                            <p>Email: {{ user.email }}</p>
                            {% for roles in user.roles %}
                            <p>Roles: {{ roles}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-info">Edit</a>
                <a href="{{ path('app_user_delete', { id: user.id }) }}" class="btn btn-warning">Delete</a>
            {% endfor %}

        </div>
    </div>


{% endblock %}
