<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th colspan="4">LISTE DES UTILISATEURS</th>
        </tr>
    </thead>
    <tbody>

        {% for user in userslist  %}
        <tr>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td> <a href="/admin/user/update/{{user.id}}">MODIFIER</a> <span> ----  </span>
            <a href="/admin/user/delete/{{user.id}}">SUPPRIMER</a>

            </td>
        </tr>

        {% endfor %}
<h3>{{ message }}</h3>
    </tbody>
</table>




<h2> <a href="/admin/create">Créer un nouvel utilisateur</a></h2>
</body>
</html>