{# templates/auth/login.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Formulaire</title>
</head>
<body>
<h1>connectez-vous</h1>



{% block body %}


    <div>
        {{ form(form) }}
    </div>


{% endblock %}


</body>
</html>


{#    {{ form_start(form,{action:path('/auth/login_check')}) }} #}

    {#    <div class="row"> #}
    {#        <div class="col"> #}
    {#            {{ form_row(form.username) }} #}
    {#        </div> #}
    {#        <div class="col" id="some-custom-id"> #}
    {#            {{ form_row(form.password) }} #}
    {#        </div> #}
    {#    </div> #}
    {#    {{ form_end(form) }} #}